image: python:3.12-slim

stages:
  - build
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip

build:
  stage: build
  script:
    - pip install -r requirements.txt
    - mkdocs build --strict --site-dir test-build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

pages:
  stage: deploy
  script:
    - pip install -r requirements.txt
    - mkdocs build --strict --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
